@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;500;800&display=swap");

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

.wrap {
  background-color: #ecdbba;
  position: relative;
}
